<div class="col-md-12 page">
    <div class="col-md-4">
        <h3>Phone</h3>
        <h2>Give us a call on 07790 755 582 any time between 8am and 8pm.</h2>
    </div>
    <div class="col-md-4">
        <h3>Email</h3>
        <h2>If you'd like more information, just drop us an email at <a href="mailto:info@myhousingchain.co.uk">info@myhousingchain.co.uk</a></h2>
    </div>
    <div class="col-md-4">
        <h3>Social Media or Contact form?</h3>
        <h2>Fill in the form below to get in contact.</h2>
    </div>
</div>
