<div class="col-md-12 page">
  <div class="jumbotron">
    <h2>Getting Started</h2>
    <p>
      As a buyer or seller of your property you want to complete the purchase and/or sale of your house as quickly as possible.
      Bad communication is the enemy and a lack of transparency only serves to add delays to this process.
    </p>
  </div>
  <p>
    Most delays in house chains are due to poor communication and a party not even being aware that someone is waiting on them
    to do something. This is where we want to be able to help by producing a single place for all solicitors, estate agents,
    property buyers and property sellers to see an ENTIRE chain and what the status is at any one time.
  </p>
  <p>
    That way, if someone is holding up the process by not returning documents to their solicitor, the solicitor is waiting on
    the seller to answer some questions or the estate agent is waiting on the buyer to confirm that they are wanting the
    existing washing machine from the property they are buying, everyone is aware of it ALL of the time.</p>
  <p>
    With this in mind we believe that keeping this application up to date and encouraging your solicitor and estate agent to
    keep an eye on it will greatly improve the service that you will receive and speed up the process of buying and selling
    a house.
  </p>
  <p>At the end of the process, you will be invited to give some very simplified feedback to help other people find the best
    solicitor or estate agent for them.</p>
  <p>All that's left to do is to sign up. When you sign up there are several options. You can register as a company, branch
    within a company or add yourself to an existing company or branch. </p>
  <p>If you are the first person in the company to sign up then click
    <strong>here</strong>, otherwise contact your system administrator for them to send you a sign up link to register. Then you
    will be able to see all of the properties within the company or branch and update the awesome progress being made you
    on their behalf. </p>
</div>