<div class="feedback-container" [ngClass]="{'expanded': expanded}">
  <div class="feedback-label rotate-90" (click)="expand()">
    Feedback
    <i class="material-icons">question_answer</i>
  </div>
  <div class="feedback-content">
    <div class="col-md-12">
      <h4>Feedback</h4>
      <p>Please feel free to leave us some feedback, whether it's telling us how to improve our service, functionality suggestions or even if it's just to tell us to stop wasting our time; </p>
        <p><strong>All feedback is welcome!</strong></p>
    </div>
    <div class="col-md-12">
      <div class="message-container" *ngIf="displayMessage" [ngClass]="{ 'is-error':error }">
        {{message}}
      </div>
    </div>

    <form #feedbackForm="ngForm" (ngSubmit)="submitFeedback();feedbackForm.resetForm();" >

      <div class="col-md-12" *ngIf="!hideForm">

        <div class="form-group" [ngClass]="{ 'has-error':name.invalid && name.touched }">
          <input type="text" class="form-control" name="name" required placeholder="Name (if you want)" [(ngModel)]="feedback.Name"
            #name="ngModel">
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':email.invalid && email.touched }">
          <input type="text" class="form-control" name="email" required placeholder="Email (we may ask for more details if we like your suggestion)"
            [(ngModel)]="feedback.Email" #email="ngModel">
        </div>

        <div class="form-group" [ngClass]="{ 'has-error':details.invalid && details.touched }">
          <input type="text" class="form-control" name="details" required placeholder="Details" [(ngModel)]="feedback.Details" #details="ngModel">
          <span class="help-block" *ngIf="details.invalid && details.touched">You need to enter a suggest before submitting some feedback</span>
        </div>
      </div>

      <div class="col-md-12 no-overflow">

        <div id="button-panel">
          <div class="col-md-4">
            <button type="button" class="btn btn-block btn-lg btn-danger" (click)="cancelFeedback()">
              <i class="glyphicon glyphicon-chevron-left"></i>
              <!--&nbsp;Back-->
            </button>
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="feedbackForm.invalid" *ngIf="!hideForm">
              <i class="glyphicon glyphicon-floppy-disk"></i>
              &nbsp;Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>