<p>
  This is the estate agent home page ... link to:
</p>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 tile" (click)="goToPropertyList()">
      <div class="tile-icon">
        <i class="material-icons">location_city</i>
      </div>
      <div class="tile-link">
        Property List
      </div>
    </div>
    <div class="col-md-4 tile" (click)="goToManagement()">
      <div class="tile-icon">
        <i class="material-icons">playlist_add_check</i>
      </div>
      <div class="tile-link">
        Management
      </div>
    </div>
    <div class="col-md-4 tile" (click)="goToSettings()">
      <div class="tile-icon">
        <i class="material-icons">settings</i>
      </div>
      <div class="tile-link">
        Settings
      </div>
    </div>
  </div>
</div>