<div class="col-md-3">
    <div class="row" style="color: red;" *ngIf="errorMessage != null && !loadingProperties">
        There was an error retrieving the property list
    </div>
    <div class="row" *ngIf="!addingProperty">
        <button class="btn btn-sm btn-success btn-block"
                (click)="addProperty()">
            <i class="glyphicon glyphicon-plus"></i>
            &nbsp;Add Property
        </button>
    </div>
    <div *ngIf="loadingProperties">
        <i class="glyphicon-refresh spin"></i>
    </div>
    <div class="row" *ngIf="properties && !loadingProperties">
        <div *ngFor="let property of properties"
             (click)=selectProperty(property.Id)
             class="clickable">
                {{property.DisplayName}}
        </div>
    </div>
    <div class="row" *ngIf="!properties">
        There are no properties to view
    </div>
</div>
<property-upsert *ngIf="addingProperty || editingProperty" 
              [property]="activeProperty"
              (propertySaved)="propertySaved($event)" 
              (propertyNotSaved)="propertyNotSaved($event)"></property-upsert>
<property-info [property]="activeProperty" *ngIf="!addingProperty && !editingProperty"
                (editingProperty)="editProperty($event)"></property-info>