<div class="col-md-9">
    <div class="row" *ngIf="property">
        <h1>{{property.DisplayName}}</h1>
        <div class="col-md-12">{{property.RightMoveIdentifier}}</div>
        <div class="tab-pane">
            <div class="col-md-3">
                <button type="button" class="btn btn-standard btn-info" (click)="editProperty(property.Id)">Edit</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-standard btn-warning" (click)="deleteProperty(property.Id)">Delete</button>
            </div>
            <div class="col-md-12">
                <h2>Full Address: </h2>
                {{property.AddressLine1}}
                {{property.AddressLine2}}
                {{property.AddressLine3}}
                {{property.AddressLine4}}
                {{property.AddressLine5}}
                {{property.Postcode}}
            </div>
            <div class="col-md-12">
                <img *ngIf="property.RightMoveImageUrl" src="{{property.RightMoveImageUrl}}" class="rightmove-image"/>
                <strong *ngIf="property.RightMoveAskingPrice">Asking Price: {{property.RightMoveAskingPrice}}</strong>
            </div>
            <div class="col-md-12">
                <h2>Chain Visualisation</h2>
                <chain-visualisation [propertyId]="property.Id"></chain-visualisation>
            </div>
            <div class="col-md-12">
                <h2>Check List Items</h2>
                <div class="input-group col-md-12" *ngFor="let checkListItem of property.PropertyCheckListitems">
                    <div class="col-md-4">{{checkListItem.DisplayName}}</div>
                    <div class="col-md-2">
                        <input type="checkbox" [(ngModel)]="checkListItem.Completed" disabled="disabled"/>
                    </div>
                    <div class="col-md-6" *ngIf="checkListItem.Completed">Completed on {{checkListItem.Completed | date: 'dd/MM/yyyy'}} <span *ngIf="checkListItem.CompletedUserId"> by user with ID {{checkListItem.CompletedUserId}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!property">
        <<<<<< Click on the property to see information about it.
    </div>
    <div class="page-bottom-spacer"></div>
</div>