<div class="col-md-12 page">
  <div class="jumbotron">
    <h2>Getting Started</h2>
    <p>
      As a solicitor, you can contribute to giving a full chain overview to everyone in the chain to help move things along.
    </p>
  </div>
  <p>
    If a certain third party is blocking the progress of a particular house buying chain then everyone in the chain will know
    about it and be able to work together to resolve the issues as quickly as possible.
  </p>
  <p>As you progress after signing up, we will be able to give scores relating to your expedience and ratings from verified
    customers which will allow the public to see how good you really are.</p>
  <p>
    With this in mind we believe that keeping this application up to date and encouraging the buyers and sellers to keep an eye
    on it in order to prompt them into action when required.
  </p>
  <p>All that's left to do is to sign up. When you sign up there are several options. You can register as a company, branch
    within a company or add yourself to an existing company or branch. </p>
  <p>If you are the first person in the company to sign up then click
    <strong>here</strong>, otherwise contact your system administrator for them to send you a sign up link to register. Then you
    will be able to see all of the properties within the company or branch and update the awesome progress being made you on their behalf.  </p>
</div>