<div class="col-md-9">
    <div class="row" *ngIf="property">
        <h1>{{property.displayName}}</h1>
        <div class="col-md-12">{{property.rightMoveIdentifier}}</div>
        <div class="tab-pane">
            <div class="col-md-12">
                <h2>Full Address: </h2>
                {{property.addressLine1}}
                {{property.addressLine2}}
                {{property.addressLine3}}
                {{property.addressLine4}}
                {{property.addressLine5}}
                {{property.postcode}}
            </div>
            <div class="col-md-12">
                <h2>Chain Visualisation</h2>
                <chain-visualisation [propertyId]="property.id"></chain-visualisation>
            </div>
            <div class="col-md-12">
                <h2>Check List Items</h2>
                <div class="input-group col-md-12" *ngFor="let checkListItem of property.propertyCheckListItems">
                    <div class="col-md-4">{{checkListItem.displayName}}</div>
                    <div class="col-md-2">
                        <input type="checkbox" [(ngModel)]="checkListItem.completed" disabled="disabled"/>
                    </div>
                    <div class="col-md-6" *ngIf="checkListItem.completed">Completed on {{checkListItem.completedDate | date: 'dd/MM/yyyy'}} <span *ngIf="checkListItem.completedUserId"> by user with ID {{checkListItem.completedUserId}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!property">
        <<<<<< Click on the property to see information about it.
    </div>
    <div class="page-bottom-spacer"></div>
</div>