<div class="col-md-12 page">
    <div class="jumbotron">
        <h1>About the company and the process involved in being part of chains!</h1>
        <h2>The company is a start up with a few goals</h2>
        <p>These goals are:
        </p>
        <ul>
            <li>Reduce delays in housing chains because of miscommunication</li>
            <li>Let consumers see what the progress is and if something is holding up their house sale</li>
            <li>Reduce incompetence in the housing market (solicitors and estate agents that are not doing that they need to
                in a reasonable time)</li>
            <li>Provide feedback on solicitors and estate agents to help people to find the good ones.</li>
            <li>Allow people to view chains that need completing</li>
        </ul>
        <h2>The process is simple, let solicitors and estate agents seamlessly report back to the whole chain when there is a
            problem.</h2>
        <p>
            The hope is that many people that are all working to a single goal should be able to reduce the issues by actually comunicating.
            There are so many instances where there is no intention to hold up a sale, however misunderstandings on who is
            waiting on who and what are all too common.
        </p>
    </div>
</div>